
<button type="submit"
        ng-click="list()"
        class="btn btn-info btn-sm">リストに戻る</button>

<h2>{(module.package.name | jhiModuleFilter)}</h2>

<i><p>by <a href="{(module.npminfo.author.url)}" target="_blank" rel="noopener">{(module.npminfo.author.name)}</a>(<a href="https://www.npmjs.com/~{(module.npminfo._npmUser.name)}" target="_blank" rel="noopener">{(module.npminfo._npmUser.name)}</a>)</i>
<i><p>メンテナンス：{(module.npminfo.maintainers | jhiAuthorFilter)}</i>
<p>
    最新バージョン: {(module.npminfo.version)}
</p>
<p ng-if="!readmeFile">
{(module.npminfo.description)}
</p>

<h3>JHipsterバージョンの互換性</h3>
<p>
    このモジュールは次のJHipsterバージョンで動作します: <b>{(module.npminfo.dependencies['generator-jhipster'])}</b>
</p>

<h3>リンク</h3>
<ul>
    <li><a href="{(module.npminfo.homepage)}" target="_blank" rel="noopener">プロジェクトのURL</a></li>
    <li><a href="https://www.npmjs.com/package/{(npmPackageName)}" target="_blank" rel="noopener">NPMパッケージへのページ</a></li>
</ul>
<div ng-if="!readmeFile">
	<h3>インストール方法</h3>
	<pre>npm install -g {(npmPackageName)}</pre>
</div>
<hr>
<div btf-markdown="readmeFile"></div>
<hr>
<h3>先月のダウンロード数</h3>

<div id="chart"></div>
